/*azul claro #92cecf */

a, a:hover { font-family:"Trebuchet MS"; color: white; text-decoration: none; /*font-weight: bold;*/}

#container { /* padd topo e fundo */ padding-top: 50px; padding-bottom: 35px; 
    min-height: 600px; height: 250px;} 

.showgrid {background:url(../images/grid.png);}

#widetool { bottom: 0; } 
#widetool, #widemenu { position: fixed; width: 100%; } 
#widemenu, #toolbar { background-color: #31353e; } 
#toolbar ul { list-style: none; margin: 0; padding: 0;} 

/* {{{ menubar */
#logo { float: left; width: 127px; height: 35px; margin-top: 1px;}
#widemenu, #menu { height: 37px; } 
#menuarea { background: url(../images/header.jpg) center top transparent no-repeat; width: 950px; margin: 0 auto; }
#menu { float: left; margin: 5px 0 0 0; padding: 0;} 
#menu li { list-style: none; float: left; margin-left: 30px; padding: 6px;} 
#menu li ul, #menuarea li li { background-color: black; margin: 0; padding: 0; }
#menu li li { float: none; margin-left: -6px; border: 2px solid black;padding: 2px 4px;}  
#menu li:hover { background-color: black;}  
#menu li li:hover { background-color: #92cecf;}  
#menu li ul { display: none; } 
#menu li:hover ul { display: block; position: absolute;}  

/* menubar }}} */

/* {{{ toolbar */
#toolbar { 
    background: -moz-linear-gradient(center top , #434854, #31353e) repeat scroll 0 0 transparent; 
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434854', endColorstr='#31353e'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#434854), to(#31353e)); /* for webkit browsers */
    color: #92cecf;
    height: 37px; width: 400px; 
    margin: 0 auto;
}

#toolbar ul { padding: 2px; margin-left: 5px; } 
#toolbar ul li { float: left; } 
#user { font-size: 12px; float: right; margin-right: 10px;}
#user a { float: right; }

#measurements { float: right; margin-right: 10px; }
#measurements input { border: 0; color: white; padding: 1px; text-align: center; 
    background-color: #1c1d21; width: 30px; font-size: 10px; border: 1px solid #1c1d21; }

#measurements input:focus { border: 1px solid #92cecf; }
 
/* icons */
/*
document.execCommand("BackgroundImageCache",false,true);
png ie
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='images/mater.png', sizingMethod='scale'); 
http://msdn.microsoft.com/en-us/library/ms532969.aspx
*/
.icon { width: 32px; height: 32px; overflow: hidden; float: left; text-indent: -200px;
    background:  url(../images/icons.png) no-repeat transparent; }
.icon-separator { padding: 2px; margin-top: 4px;color: gray; font-weight: bold; font-size: 1.2em;}
.icon-resize {    background-position: -32px 0; }
.icon-sort {      background-position: -64px 0; } 
.icon-section {   background-position: -96px 0; }
.icon-container { background-position: -128px 0; }
.icon-clear {     background-position: -160px 0; }
.icon-hr {        background-position: -192px 0; }
.icon-toogle-grid { background-position: -224px 0; }
/* icons hover */
.icon-select:hover, .icon-select.icon-active {    background-position: 0 -32px; }  
.icon-resize:hover, .icon-resize.icon-active {    background-position: -32px -32px; }  
.icon-sort:hover, .icon-sort.icon-active {      background-position: -64px -32px; } 
.icon-section:hover, .icon-section.icon-active {   background-position: -96px -32px; }
.icon-container:hover, .icon-container.icon-active{ background-position: -128px -32px; }
.icon-clear:hover, .icon-clear.icon-active {     background-position: -160px -32px; }
.icon-hr:hover, .icon-hr.icon-active {        background-position: -192px -32px; }
.icon-toogle-grid:hover, .icon-toogle-grid.icon-active { background-position: -224px -32px; }
/* toolbar }}} */

/* {{{ jquery-ui */
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.ui-dialog { font-size: 75% !important;} 
/* jquery-ui }}} */

#dialogs { display: none;  }

/* debug */
.section { background-color: lightblue; } 
#container div[class^=span]:hover { background-color: lightgreen; } 

