<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Untitled - Layoutside</title>
    <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="handheld, all">
    <link rel="stylesheet" href="js/jquery-ui-1.8.10.custom/development-bundle/themes/smoothness/jquery-ui-1.8.10.custom.css" type="text/css">
    <link rel="stylesheet" href="css/tipsy.css" type="text/css">

    <style type="text/css">
    img, iframe, object, embed { max-width: 100%; }
    </style>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31436806-1']);
      _gaq.push(['_setDomainName', 'layoutside.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class="">
    <div id="widemenu">
        <div id="menuarea">
            <a href="#" title="Layoutside"><img id="logo" src="images/logo.png" alt="Layoutside" /></a>
            <ul id="menu">
                <li><a href="#" title="Layout">Layout</a>
                    <ul>
                        <li><a id="new-layout" href="#new">New</a></li>
                        <li><a id="open-layout" href="#open">Open</a></li>
                        <li><a id="save-layout" href="#save">Save</a></li>
                        <li><a id="layout-properties" href="#properties">Properties</a></li>
                        <!-- <li><a id="preview-layout" href="/render-layout?key=">Preview</a></li> -->
                    </ul>
                </li>
                <li><a id="openEditor" href="#" title="Editor">Editor</a></li>
                <li><a href="#" title="Download">Get the code</a>
                    <ul>
                        <li><a class="download" rel="#get-html" href="#get-html">HTML only</a></li>
                        <li><a class="download" rel="#get-zip" href="#get-zip">Zip</a></li>
					</ul>
                </li>
                <li><a href="#" title="Layout">Help</a>
                        <ul>
                        <!-- <li><a href="#shortcuts">Quickstart</a></li>
                        <li><a href="#help-content">Contents</a></li>
                        <li><a href="#feedback">Feedback</a></li>
                        <li><a href="#shortcuts">Keyboard shortcuts</a></li> -->
                        <li><a target="_blanck" class="external" href="http://layoutside.com/getting-started/">Getting Started</a></li></ul>
                </li>
            </ul>
            {% if user_name %}
            <div id="user">
                <a href="#" title="User">{{ user_name }}</a>
                <span> | </span>
                <a href="{{ logout }}" title="logout">logout</a>
            </div>
            {% else %}
            <div id="user">
                <a href="{{ login_url }}" title="login">login</a>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="containerPlaceholder" class="container">
        <div id="containerGrid"></div>
        <div id="container"></div>
    </div>

    <div id="widetool">
        <div id="toolbar">
            <ul>
                <li><a class="icon icon-select" href="#select" rel="tipsy" title="Select">Select</a></li>
                <li><a class="icon icon-sort" href="#sort" rel="tipsy" title="Reorder">Reorder</a></li>
                <li class="icon-separator">|</li>
                <li><a class="icon icon-section" href="#add-section" rel="tipsy" title="Add section">Add section</a></li>
                <li class="icon-separator">|</li>
                <li><a class="icon icon-toggle-grid" href="#" rel="tipsy" title="Toggle grid">toggle grid</a></li>
            </ul>

            <div id="measures">
                <input id="section-w" type="text" value="0" disabled="disabled"> x <input id="section-h" type="text" value="0"> px
            </div>
            <div id="loading-msg" style="float: right; margin: 5px; width: 62px; display: none;">Loading...</div>
        </div>
    </div>

    <div id="dialogs">
        <div id="layout-prop" title="Layout properties">
            <form id="layoutProperties" class="dialog-form">
                <div>
                    <label>Name</label>
                    <input name="layout_name" type="text">
                </div>
                <div>
                    <label>Column count</label>
                    <input name="column_count" type="text">
                </div>
                <div>
                    <label>Column width</label>
                    <input name="column_width" type="text">
                </div>
                <div>
                    <label>Gutter width</label>
                    <input name="gutter_width" type="text">
                </div>
                <div>
				    <label>Layout width</label>
                    <strong id="layout_width"></strong>
                </div>
            </form>
        </div>
        <div class="sectionDialog" title="Section Properties">
             <form id="sectionProperties" name="sectionProperties" class="dialog-form">
                <div style="margin-bottom: 5px;">
                    <label>ID</label>
                    <input class="field" id="section-id" name="section-id" type="text" />
                </div>
                <!--
                <div>
                    <label>Grid classes</label>
                    <table class="field">
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>box</td>
                            <td><input type="checkbox" /></td>
                            <td>colborder</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>clear</td>
                            <td><input type="checkbox" /></td>
                            <td>border</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>box</td>
                            <td><input type="checkbox" /></td>
                            <td>prepend-top</td>
                        </tr>
                    </table>
                </div>
                -->
            </form>
        </div>

        <div id="editor" title="Source editor">
            <strong style="float: left;">Section</strong>
            <!-- <ul id="edit-tabs">
                <li><a href="#edit-section1">Section 1</a><span>X</span></li>
                <li><a href="#edit-section2">Some kind of long name</a><span>X</span></li>
                <li><a href="#edit-section3">Section 3</a><span>X</span></li>
                <li><a href="#edit-section2">Section one 2</a><span>X</span></li>

            </ul>
            -->
            <br class="clear">
            <div id="sectionview">
                <span id="bg-item" style="">&nbsp;</span>
            </div>
            <pre id="sourceEditor"></pre>
        </div>

        <div id="my-layouts" title="My Layouts">
            <p id="no-layouts" style="display: none;">You don't have any layout.</p>
            <table style="padding-top: 10px;" border="0" cellspacing="0" cellpadding="0">
                <!-- <thead><tr><th>Layout</th><th>&nbsp;</th></tr></thead> -->
                <tbody></tbody>
            </table>
        </div>

        <div id="new-layout-dialog" title="New layout">
            <form action="#" method="GET">
                <strong>Name:</strong> <input style="margin-left: 5px;width: 80%;" type="text" id="layout-name" name="layout-name" value="" />
            </form>
        </div>
        <div id="confirm-close-dialog" title="">
            <p>Save changes to layout before closing?</p>
        </div>
        <div id="alert-modal" title="">
            <h3 style="margin: 20px 0px 0px 30px;"></h3>
        </div>
    </div>

    {% if env_prod %}
    <script src="js/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/theme-cobalt-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/mode-html-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/bundle.min.js"></script>
    {% else %}
    <script src="js/jquery-ui-1.8.10.custom/development-bundle/jquery-1.4.4.js" type="text/javascript"></script>
    <script src="js/jquery-ui-1.8.10.custom/development-bundle/ui/jquery-ui-1.8.10.custom.js"></script>
    <script src="js/ace/ace-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/theme-cobalt-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ace/mode-html-noconflict.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="js/layoutside.src.js"></script>
    {% endif %}
    <script type="text/javascript">
    jQuery(function () {
        window.Layoutside = new Layoutside();
    });
    </script>
</body>
</html>

